<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="plant">
        <h1>Viewing a stranger</h1>
        <a href="/user">Main Page</a>
        <a href="/add">Create a Magazine</a>
        <button><a href="/logout">Logout</a></button>
    </div>
    <div>
        <h1>Magazines for {{user.first_name}} {{user.last_name}}</h1><br>
        <table>
            <tbody>
                {% for magazine in magazines%}
                <td>Title: {{magazine.title}}</td>
                <td>Discription: {{magazine.description}} </td>
                <td>When: {{ magazine.created_at.strftime("%b %d %Y") }}</td>
                {% endfor %}
                
            </tbody>
        </table>
    </div>

</body>
</html>